/vendor
/node_modules
.git
.gitignore
.env
.env.example
README.md
docker-compose.yml
Dockerfile
.dockerignore
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/* 